.friend_list {
  margin: auto;
  width: 350px;
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.item_on {
  composes: item;
  background-color: green;
}
.item_off {
  composes: item;
  background-color: tomato;
}

.stats {
  font-size: 18px;

  text-shadow: 4px 3px 6px rgba(33, 19, 168, 0.92);
}

.name {
  font-size: 22px;
  font-weight: 700;
}
